@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
}

@font-face {
  font-family: 'Lexend';
  src: url('./fonts/lexend.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  font-feature-settings: 'ss01';
}

:root {
  --font-inter: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-lexend: 'Lexend', ui-sans-serif, system-ui, sans-serif;
}
